:root{
--cor-blue:#065E7C;
--cor-white:#ffffff;
--cor-light-blue:#387E96;
--font-family:"Mulish", sans-serif;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

 html, body{
    height: 100%;
}

 body{
    font-family:var(--font-family)
}


  header{
    background-color: var(--cor-blue);
    height: 5rem;
    padding: 0.5rem 1rem;


    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
 
  header input{
    height: 3rem;
    width: 100%;
    max-width: 18.75rem;
    border-radius: 0.5rem;
    padding: 1rem;
    border: 0;
    font-size: 1rem;
  }
  header .logo{
    max-width: 100%;
    height: auto;
    background-color: var(--cor-white);
    border-radius: 50%;
    max-width: 100%;
  }
  header .perfil{
    height: 40px;
    width: 40px;
    max-width: 100%;
    background-size:cover;
    border-radius: 50%;
   }
   header {
    height: 72px;/
    padding: 0 24px;                   
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
}



 main .principal{
    max-width: 100%;
}

main h1{
    margin-top: 2rem;
    font-size: 1.375rem;
    margin-left: 1.25rem;
    margin-right: 1.rem;
    font-weight: 600px;
}

main .joinha{
    max-width: 100%;
    margin-top: 0.75rem;
    display: flex;
    gap: 0.75rem;
    margin-left: 1.25rem;
    cursor: pointer;
    background-size: cover;
}
 .joinha img:hover{
    transform: scale(1.05);
}

main p{
    margin: 1.25rem;
    line-height: 1.4;
}
