:root{
--cor-blue:#065E7C;
--cor-white:#ffffff;
--cor-light-blue:#387E96;
--cor-dark:#000000;
--font-family:"Mulish", sans-serif;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

 html, body{
    height: 100%;
}

 body{
    font-family:var(--font-family)
}


  header{
    background-color: var(--cor-blue);
    height: 4.5rem;
    padding: 1.25rem 2rem ;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }
 
  header input{
    height: 2.5rem;
    width:clamp(15rem, 22vw, 20rem);
    max-width: 19rem;
    border-radius: 0.25rem;
    padding: 1rem;
    border: 0;
    font-size: 1rem;
    background-color: var(--cor-light-blue);
    color: var(--cor-white);
    }
  input:focus{
    outline: 1px solid var(--cor-white);
  }

input::placeholder {
    color:var(--cor-white);
    opacity: 80%;   
}

  header .logo{
    max-width: 100%;
    width: 2.5em;
    background-color: var(--cor-white);
    border-radius: 50%;
    background-size: cover;
  }
  header .perfil{
    height: auto;
    width: 40px;
    max-width: 100%;
    background-size:cover;
    border-radius: 50%;
   }
 



 main .principal1{
  max-width: 100%; 
}

main h1{
    margin-top: 2rem;
    font-size:clamp(1.5rem, 5vw, 2.5rem);
    margin-left: 1.25rem;
    margin-right: 1.rem;
    font-weight: 600px;
    
}

main .joinha{
    max-width: 100%;
    margin-top: 0.75rem;
    display: flex;
    gap: 0.75rem;
    margin-left: 1.25rem;
    cursor: pointer;
    object-fit: cover;
}
 .joinha img:hover{
    transform: scale(1.05);
}

main .texto-principal{
    margin: 1.25rem;
    line-height: 1.4;
    font-weight: 400;
    font-size:clamp(1rem, 2vw, 1.25rem);
}

.relacionados h2 {
    font-size: clamp(1.5rem, 3vw, 1.75rem);
    margin: 1.25rem 1.25rem 1rem;
}

  article img{
    width: 9.5rem;
    height:5.25rem;
    object-fit: cover;
    border-radius: 0.25rem;
    
    
}

.lista-artigos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.lista-artigos article {
    display: flex;
    gap: 1rem;
    align-items:center;
    padding: 0 1.25rem; 
}

.lista-artigos article h3 {
    font-size: clamp(1rem, 3vw, 1.25rem);
    font-weight: 700;
    margin: 0;
}

.lista-artigos article p {
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    margin-top: 0.25rem;
    line-height: 1.4;    
    font-weight: 400;
}

article:hover{
  transform: scale(1.01);
  cursor: pointer;
  text-decoration: underline;
}


footer {
  margin-top: 2rem;
    background-color: #387E96;
    padding:1.75rem;
    text-align: center;
}
footer p {
    font-size:clamp(1rem, 2vw, 1.25rem);
    font-weight: 600;
    color:var(--cor-white);
}


.conteudo {
display: flex;
gap: 2rem;
}

.principal {
  flex: 3;

}

.relacionados {
  flex: 1.2;
}


@media(max-width: 900px){
  .conteudo{
    flex-direction: column;
  }
}